<div class="search-wrapper">
    <div class="container">
        <div class="search-inner clearfix">
            <div class="search-field">
                <input type="text" class="form-control" value="" placeholder="Enter Your Search...">
            </div>
            <a href="#" class="search-btn search-close"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="top-wrapper">
    <div class="top-inner" id="top-inner">
       
        <div class="top2-wrapper">
            <div class="container">
                <div class="top2 clearfix">
                    <header>
                        <div class="logo_wrapper">
                            <a href="index.html" class="logo">
                                <img src="assets/images/logo.png" alt="" class="img-fluid">
                            </a>
                        </div>
                    </header>
                    <nav class="navbar_ navbar navbar-expand-md clearfix">

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav sf-menu clearfix">
                                <li class="nav-item sub-menu sub-menu-2"><a href="#home" class="nav-link">Home <i class="fa fa-angle-down"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="nav-item"><a href="about.html" class="nav-link">About us</a></li>
                                <li class="nav-item"><a href="rooms.html" class="nav-link">Our Rooms</a></li>
                 
                                <li class="nav-item"><a href="contacts.html" class="nav-link">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>