<app-header></app-header>
<div id="content">
  <div class="container">

    <div class="title3">Your payment was successful. You can download your receipt here</div>

    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Description</th>
          <th scope="col">Amount</th>
          <th scope="col">Payment Status</th>
          <th scope="col">Download Receipt</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Payment Receipt for {{transactions?.roomTypeId?.roomType}}</td>
          <td>&#x20a6;{{transactions?.amount | number}}</td>
          <td>Success</td>
          <td>
            <img (click)="downloadReceipt(transactions.guestId.guestId)" src="assets/images/download.png" alt="" height="50"
              width="100" class="img-fluid" class="receiptclick" />
          </td>
        </tr>
      </tbody>
    </table>

  </div>



</div>

<app-footer></app-footer>