<div id="main">
	<div class="search-wrapper">
		<div class="container">
			<div class="search-inner clearfix">
				<div class="search-field">
					<input type="text" class="form-control" value="" placeholder="Enter Your Search...">
				</div>
				<a href="#" class="search-btn search-close"><i class="fa fa-times" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
	<div class="top-wrapper top-wrapper-dark">
		<div class="top-inner">
			<div class="top1-wrapper">
				<div class="container">
					<div class="top1 clearfix">

						<div class="logo_wrapper">
							<a href="index.html" class="logo"> <img src="assets/images/{{logo.logo}}" alt="" class="img-fluid" height="100"
								 width="200">
							</a>
						</div>
						<a href="#" class="search-btn search-open"><i class="fa fa-search"></i></a>
						<div class="social-wrapper">
							<ul class="social">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-tumblr"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							</ul>
						</div>
						<div class="account dropdown">
							<a class="dropdown-toggle" href="#" role="button" id="dropdownAccount2" data-toggle="dropdown" aria-haspopup="true"
							 aria-expanded="false"> Sign in </a>
							<div class="dropdown-menu" aria-labelledby="dropdownAccount2">
								<a class="dropdown-item" href="#">EDIT PROFILE</a> <a class="dropdown-item" href="#">SIGN OUT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="top2-wrapper">
				<div class="container">
					<div class="top2 clearfix">
						<header>
							<div class="logo_wrapper">
								<a href="index.html" class="logo"> <img src="assets/images/logo-white.png" alt="" class="img-fluid">
								</a>
							</div>
						</header>
						<nav class="navbar_ navbar navbar-expand-md clearfix">

							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"
							 aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>

							<div class="collapse navbar-collapse" id="navbarSupportedContent2">
								<ul class="nav navbar-nav sf-menu clearfix">
									<li class="nav-item sub-menu sub-menu-2"><a href="#" class="active nav-link">Home <i class="fa fa-angle-down"
											 aria-hidden="true"></i></a>
									</li>
									<li class="nav-item"><a href="#about" class="nav-link">About us</a></li>
									<li class="nav-item"><a href="#rooms" class="nav-link">Our Rooms</a></li>


									<li class="nav-item"><a href="contacts.html" class="nav-link">Contact</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="home" class="">
		<div id="home-inner" class="home-inner">
			<div id="slides_wrapper" class="">
				<div id="slides">
					<ul class="slides-container">
						<li><img src="assets/uploads/{{pic.slide1}}" alt="" class="img">
						</li>
						<li><img src="assets/uploads/{{pic.slide2}}" alt="" class="img">
						</li>
						<li><img src="assets/uploads/{{pic.slide3}}" alt="" class="img">
						</li>
						<li><img src="assets/uploads/{{pic.slide4}}" alt="" class="img">
						</li>
						<li><img src="assets/uploads/{{pic.slide5}}" alt="" class="img">
						</li>
						<li><img src="assets/uploads/{{pic.slide6}}" alt="" class="img">
						</li>
					</ul>
				</div>
			</div>
			<div class="slide-text-wrapper">
				<div class="container">
					<div class="slide-text clearfix">
						<div class="img1">
							<img src="assets/images/slide-logo.png" alt="" class="img-fluid">
						</div>
						<div class="txt1">
							<span>DELVATORE<i><img src="assets/images/slide-logo2.png" alt="" class="img-fluid"></i></span>
						</div>
					</div>
				</div>
			</div>
			<div class="slide-buttons-wrapper">
				<div class="container">
					<div class="slide-buttons clearfix">
						<div class="slide-button">
							<a href="#">
								<div class="ic">
									<img src="assets/images/slide-ic1.png" alt="" class="img-fluid">
								</div>
								<div class="hr"></div>
								<div class="txt1">Hotel</div>
							</a>
						</div>
						<div class="slide-button">
							<a href="#">
								<div class="ic">
									<img src="assets/images/slide-ic2.png" alt="" class="img-fluid">
								</div>
								<div class="hr"></div>
								<div class="txt1">Breakfast</div>
							</a>
						</div>
						<div class="slide-button">
							<a href="#">
								<div class="ic">
									<img src="assets/images/slide-ic3.png" alt="" class="img-fluid">
								</div>
								<div class="hr"></div>
								<div class="txt1">Fitness Club</div>
							</a>
						</div>
						<div class="slide-button">
							<a href="#">
								<div class="ic">
									<img src="assets/images/slide-ic4.png" alt="" class="img-fluid">
								</div>
								<div class="hr"></div>
								<div class="txt1">Support 24/7</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="booking-wrapper">
			<div class="container">
				<div class="booking-inner clearfix">
					<form action="javascript:;" class="form1 clearfix">
						<div class="col1 c3">
							<div class="input1_wrapper">
								<label>Check in</label>
								<div class="input1_inner">
									<input type="text" class="form-control input datepicker" placeholder="Check in">
								</div>
							</div>
						</div>
						<div class="col1 c3">
							<div class="input1_wrapper">
								<label>Check out</label>
								<div class="input1_inner">
									<input type="text" class="form-control input datepicker" placeholder="Check out">
								</div>
							</div>
						</div>
						<div class="col1 c3">
							<div class="select1_wrapper">
								<label>Adults</label>
								<div class="select1_inner">
									<select class="select2 select" style="width: 100%">
										<option value="1">1 Adult</option>
										<option value="2">2 Adults</option>
										<option value="3">3 Adults</option>
										<option value="4">4 Adults</option>
									</select>
								</div>
							</div>
						</div>

						<div class="col2 c3">
							<div class="select1_wrapper">
								<label>Rooms</label>
								<div class="select1_inner">
									<select class="select2 select" style="width: 100%">
										<option *ngFor="let room of roomTypeList">{{room.roomType}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col1 c3" style="width:19%;">
							<button type="button" (click)="checkAvailability()" class="btn-form1-submit">CHECK
								AVAILABILITY</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<app-header></app-header>
	<div id="about">
		<div class="container">

			<div class="title1">LITTLE ABOUT US</div>

			<div class="title2"></div>

			<div class="about-slider-wrapper clearfix">
				<div class="about-slider-left">
					<figure class="about-slider-thumb">
						<img src="assets/images/about00.jpg" alt="" class="img-fluid">
					</figure>
					<div class="slider-for">
						<div *ngFor="let image of aboutUsInformationList" class="slider-item">
							<img src="assets/uploads/{{image.slidePhoto}}" alt="" class="img-fluid">
						</div>
					</div>
				</div>
				<div class="about-slider-right">
					<div class="slider-nav">
						<div *ngFor="let text of aboutUsInformationList" class="slider-item">
							<div class="txt1">{{text.header}}</div>
							<div class="txt2">
								<p>{{text.bodyText | truncate : 1000 : " ...." }}</p>
							</div>
							<div class="txt3">GEORGE BAGRATION</div>
							<div class="txt4">MANAGER</div>
							<div class="txt5">HOTEL DELVATORE</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
	<div id="rooms">
		<div class="container">

			<div class="title1">OUR ROOMS</div>

			<div class="title2">Check out our Rooms and Place your booking</div>

			<div class="row">
				<div *ngFor="let room of room" class="col-lg-4">
					<div class="room-wrapper">
						<div class="room-inner">
							<div class="room">
								<figure>
									<img src="assets/uploads/{{room.picture1}}" alt="" class="img-fluid" />
									<figcaption>
										<div class="txt1">{{room.roomType}}</div>
										<div class="txt2">START FROM &#x20a6;{{room.roomAmount | number: '1.0-0' }}</div>
									</figcaption>
								</figure>
								<div class="caption">
									<div class="txt1">{{room.roomType}}</div>
									<div class="txt3">
										{{room.roomDescription | truncate : 70 : " ...."}}
									</div>
									<div class="txt4">
										<a href="details.html">See Room Details<i class="fa fa-caret-right" aria-hidden="true"></i></a>
									</div>
								</div>
								<div class="select-txt">
									<a><span (click)="getSelectedRoomClicked(room.roomTypeId)">SELECT THIS ROOM<i class="fa fa-angle-right"
											 aria-hidden="true"></i></span></a>
								</div>
								<div class="room-icons">
									<div class="room-ic room-ic-wifi">
										<i class="fa fa-wifi" aria-hidden="true"></i>
										<div class="txt1">FREE WIFI</div>
									</div>
									<div class="room-ic room-ic-person">
										<i class="fa fa-user" aria-hidden="true"></i> <i class="fa fa-user" aria-hidden="true"></i>
										<div class="txt1">MAX<br />PERSON</div>
									</div>
									<div class="room-ic room-ic-breakfast">
										<i class="fa fa-coffee" aria-hidden="true"></i>
										<div class="txt1">BREAKFAST<br />INCLUDED</div>
									</div>
									<div class="room-ic room-ic-left">
										<div class="txt0">{{room.noOfRoomsLeft}}</div>
										<div class="txt1">ROOMS LEFT</div>
									</div>

									<div class="room-price">
										<div class="txt3" style="font-weight: bolder;">&#x20a6;<span>{{room.roomAmount | number:
												'1.0-0' }}</span></div>
										<div class="txt2">PER NIGHT</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
	<div id="best-places">
		<div class="container">
			<div class="title1">BEST PLACES AROUND THE DELVATORE</div>
			<div class="title2">FIND YOUR PLACE</div>
			<div class="owl-carousel owl-carousel-wide">
				<div class="item">
					<div class="place-wrapper">
						<div class="place-inner">
							<div class="place clearfix">
								<div class="caption">
									<div class="txt1">BEST PLACE GALLERY</div>
									<div class="text-block1">
										<div class="text-block1-inner">
											<div class="txt2">Aqua Park</div>
											<div class="txt3"><i class="fa fa-map-marker" aria-hidden="true"></i> {{places[0]?.title}}
											</div>
										</div>
									</div>
									<div class="txt4">
										{{places[0]?.description}}
									</div>
									<div class="txt5">
										<div class="rest1 clearfix">
											<figure><img src="assets/images/ic1.png" alt="" class="img-fluid"></figure>
											<div class="rest1-caption">
												<div class="rest1-txt1">Sauna</div>
												<div class="rest1-txt2">INCLUDES</div>
											</div>
										</div>
										<div class="rest1 clearfix">
											<figure><img src="assets/images/ic2.png" alt="" class="img-fluid"></figure>
											<div class="rest1-caption">
												<div class="rest1-txt1">SPA</div>
												<div class="rest1-txt2">INCLUDES</div>
											</div>
										</div>
										<div class="rest1 clearfix">
											<figure><img src="assets/images/ic3.png" alt="" class="img-fluid"></figure>
											<div class="rest1-caption">
												<div class="rest1-txt1">Free</div>
												<div class="rest1-txt2">Massage</div>
											</div>
										</div>
									</div>
								</div>
								<figure class="figure">
									<img src="assets/uploads/{{places[0]?.slidingPhoto}}" alt="" class="img-fluid">
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="place-wrapper">
						<div class="place-inner">
							<div class="place clearfix">
								<div class="caption">
									<div class="txt1">BEST PLACE GALLERY</div>
									<div class="text-block1">
										<div class="text-block1-inner">
											<div class="txt2">{{places[1]?.title}}</div>
											<div class="txt3"><i class="fa fa-map-marker" aria-hidden="true"></i> 123
												GRIDGUM PARK, WUSE II Auja
											</div>
										</div>
									</div>
									<div class="txt4">
										{{places[1]?.description}}
									</div>
									<div class="txt5">
										<div class="rest1 clearfix">
											<figure><img src="assets/images/ic1.png" alt="" class="img-fluid"></figure>
											<div class="rest1-caption">
												<div class="rest1-txt1">Sauna</div>
												<div class="rest1-txt2">INCLUDES</div>
											</div>
										</div>
										<div class="rest1 clearfix">
											<figure><img src="assets/images/ic2.png" alt="" class="img-fluid"></figure>
											<div class="rest1-caption">
												<div class="rest1-txt1">SPA</div>
												<div class="rest1-txt2">INCLUDES</div>
											</div>
										</div>
										<div class="rest1 clearfix">
											<figure><img src="assets/images/ic3.png" alt="" class="img-fluid"></figure>
											<div class="rest1-caption">
												<div class="rest1-txt1">Free</div>
												<div class="rest1-txt2">Massage</div>
											</div>
										</div>
									</div>
								</div>
								<figure class="figure">
									<img src="assets/uploads/{{places[1]?.slidingPhoto}}" alt="" class="img-fluid">
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="place-wrapper">
						<div class="place-inner">
							<div class="place clearfix">
								<div class="caption">
									<div class="txt1">BEST PLACE GALLERY</div>
									<div class="text-block1">
										<div class="text-block1-inner">
											<div class="txt2">{{places[2]?.title}}</div>
											<div class="txt3"><i class="fa fa-map-marker" aria-hidden="true"></i> 123
												GRIDGUM PARK, WUSE II Auja
											</div>
										</div>
									</div>
									<div class="txt4">
										{{places[2]?.description}}
									</div>
									<div class="txt5">
										<div class="rest1 clearfix">
											<figure><img src="assets/images/ic1.png" alt="" class="img-fluid"></figure>
											<div class="rest1-caption">
												<div class="rest1-txt1">Sauna</div>
												<div class="rest1-txt2">INCLUDES</div>
											</div>
										</div>
										<div class="rest1 clearfix">
											<figure><img src="assets/images/ic2.png" alt="" class="img-fluid"></figure>
											<div class="rest1-caption">
												<div class="rest1-txt1">SPA</div>
												<div class="rest1-txt2">INCLUDES</div>
											</div>
										</div>
										<div class="rest1 clearfix">
											<figure><img src="assets/images/ic3.png" alt="" class="img-fluid"></figure>
											<div class="rest1-caption">
												<div class="rest1-txt1">Free</div>
												<div class="rest1-txt2">Massage</div>
											</div>
										</div>
									</div>
								</div>
								<figure class="figure">
									<img src="assets/uploads/{{places[2]?.slidingPhoto}}" alt="" class="img-fluid">
								</figure>
							</div>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="place-wrapper">
						<div class="place-inner">
							<div class="place clearfix">
								<div class="caption">
									<div class="txt1">BEST PLACE GALLERY</div>
									<div class="text-block1">
										<div class="text-block1-inner">
											<div class="txt2">{{places[3]?.title}}</div>
											<div class="txt3"><i class="fa fa-map-marker" aria-hidden="true"></i> 123
												GRIDGUM PARK, WUSE II Auja
											</div>
										</div>
									</div>
									<div class="txt4">
										{{places[3]?.description}}
									</div>
									<div class="txt5">
										<div class="rest1 clearfix">
											<figure><img src="assets/images/ic1.png" alt="" class="img-fluid"></figure>
											<div class="rest1-caption">
												<div class="rest1-txt1">Sauna</div>
												<div class="rest1-txt2">INCLUDES</div>
											</div>
										</div>
										<div class="rest1 clearfix">
											<figure><img src="assets/images/ic2.png" alt="" class="img-fluid"></figure>
											<div class="rest1-caption">
												<div class="rest1-txt1">SPA</div>
												<div class="rest1-txt2">INCLUDES</div>
											</div>
										</div>
										<div class="rest1 clearfix">
											<figure><img src="assets/images/ic3.png" alt="" class="img-fluid"></figure>
											<div class="rest1-caption">
												<div class="rest1-txt1">Free</div>
												<div class="rest1-txt2">Massage</div>
											</div>
										</div>
									</div>
								</div>
								<figure class="figure">
									<img src="assets/uploads/{{places[3]?.slidingPhoto}}" alt="" class="img-fluid">
								</figure>
							</div>
						</div>
					</div>


					<div class="place-wrapper">
						<div class="place-inner">
							<div class="place clearfix">
								<div class="caption">
									<div class="txt1">BEST PLACE GALLERY</div>
									<div class="text-block1">
										<div class="text-block1-inner">
											<div class="txt2">{{places[2]?.title}}</div>
											<div class="txt3"><i class="fa fa-map-marker" aria-hidden="true"></i> 123
												GRIDGUM PARK, WUSE II Auja
											</div>
										</div>
									</div>
									<div class="txt4">
										{{places[2]?.description}}
									</div>
									<div class="txt5">
										<div class="rest1 clearfix">
											<figure><img src="assets/images/ic1.png" alt="" class="img-fluid"></figure>
											<div class="rest1-caption">
												<div class="rest1-txt1">Sauna</div>
												<div class="rest1-txt2">INCLUDES</div>
											</div>
										</div>
										<div class="rest1 clearfix">
											<figure><img src="assets/images/ic2.png" alt="" class="img-fluid"></figure>
											<div class="rest1-caption">
												<div class="rest1-txt1">SPA</div>
												<div class="rest1-txt2">INCLUDES</div>
											</div>
										</div>
										<div class="rest1 clearfix">
											<figure><img src="assets/images/ic3.png" alt="" class="img-fluid"></figure>
											<div class="rest1-caption">
												<div class="rest1-txt1">Free</div>
												<div class="rest1-txt2">Massage</div>
											</div>
										</div>
									</div>
								</div>
								<figure class="figure">
									<img src="assets/uploads/{{places[2]?.slidingPhoto}}" alt="" class="img-fluid">
								</figure>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="what-client-say">
		<div class="container">

			<div class="title1">WHAT CLIENT SAY</div>

			<div class="title2">Lorem ipsum dolor sit amet concateur non
				troppo di saronno la prada</div>

			<div class="owl-carousel owl-carousel-testimonials">
				<div class="item">
					<div class="testimonial-wrapper">
						<div class="testimonial-inner">
							<div class="testimonial clearfix">
								<div class="testimonial-caption">"I will recommend this to my friend"</div>
								<div class="author clearfix">
									<div class="caption">
										<div class="txt1">Philip Song</div>
										<div class="txt2"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>


		</div>
	</div>


	<div class="bot1-wrapper">
		<div class="container">
			<div class="bot1 clearfix">
				<div class="logo2_wrapper">
					<a href="index.html" class="logo2"> <img src="assets/images/logo2.png" alt="" class="img-fluid">
					</a>
				</div>
				<div class="social2-wrapper">
					<ul class="social2">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
					</ul>
				</div>
				<p>
					<i>

					</i>
				</p>
			</div>
		</div>
	</div>
	<div class="bot2-wrapper">
		<div class="container">
			<div class="bot2 clearfix">
				<div class="row">
					<div class="col-md-4">
						<div class="bot2-title">Contact Info</div>
						<div class="contact1">
							<b>A:</b> {{footer.address}}
						</div>
						<div class="contact1">
							<b>P:</b> {{footer.phone}}
						</div>
						<div class="contact1">
							<b>F:</b> {{footer.phone}}
						</div>
						<div class="contact1">
							<b>E:</b> <a href="#">{{footer.email}}</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="bot2-title">recent posts</div>
						<div class="recent-post clearfix">
							<a href="#">
								<figure>
									<img src="assets/images/recent01.jpg" alt="" class="img-fluid">
								</figure>
								<div class="caption">
									<div class="txt1">
										New Aqua Park <br>Near The Hotel DELVATORE
									</div>
									<div class="txt2">11 March, 2018</div>
								</div>
							</a>
						</div>
						<div class="recent-post clearfix">
							<a href="#">
								<figure>
									<img src="assets/images/recent02.jpg" alt="" class="img-fluid">
								</figure>
								<div class="caption">
									<div class="txt1">
										Botanic Garden <br>Near The Hotel DELVATORE
									</div>
									<div class="txt2">23 March, 2018</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="bot2-title">BEST PLACES AROUND DELVATORE</div>
						<ul class="best1 clearfix">
							<li *ngFor="let place of places"><a href="#"><img src="assets/uploads/{{place.slidingPhoto}}" height="50" width="50"
									 alt="" class="img-fluid"></a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bot3-wrapper">
		<div class="container">
			<div class="bot3 clearfix">
				<ul class="menu-bot">
					<li><a href="#">About</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Customer Service</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Contact</a></li>
				</ul>

				<div class="copyrights">
					Copyright @2018 Made with <i class="fa fa-heart" aria-hidden="true"></i> By <a href="#" target="_blank">Mecovache</a>.
					All Rights Reserve
				</div>

			</div>
		</div>
	</div>


</div>