<div id="main">
<app-navbar></app-navbar>
  <div class="breadcrumbs1_wrapper">
    <div class="container">
      <div class="breadcrumbs1"><a href="index.html">Home</a><span>|</span>Reservation</div>
    </div>
  </div>
  <div id="content">
    <div class="container">

      <div class="pane1 clearfix">

        <div class="tabs2-wrapper">
          <ul class="tabs clearfix" data-tabgroup="second-tab-group">
            <li class="active"><a href="#tabs2-1"><i class="fa fa-th"></i></a></li>
            <li><a href="#tabs2-2"><i class="fa fa-list"></i></a></li>
          </ul>
        </div>

        <div class="sorting dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownSorting" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Defaul Sorting
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownSorting">
            <a class="dropdown-item" href="#">Price</a>
            <a class="dropdown-item" href="#">Popular</a>
          </div>
        </div>

        <div class="sortby dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownSortBy" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Sort by popular
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownSortBy">
            <a class="dropdown-item" href="#">Price</a>
            <a class="dropdown-item" href="#">Popular</a>
          </div>
        </div>

        <div class="showing-results">Showing 1-9 <span>of 35 relults</span></div>

      </div>

      <div id="second-tab-group" class="tabgroup">
        <div id="tabs2-1">

          <div class="row">
            <div *ngFor="let room of room" class="col-lg-4">
              <div class="room-wrapper">
                <div class="room-inner">
                  <div class="room">
                    <figure>
                      <img src="assets/uploads/{{room.picture1}}" alt="" class="img-fluid" />
                      <figcaption>
                        <div class="txt1">{{room.roomType}}</div>
                        <div class="txt2">START FROM &#x20a6;{{room.roomAmount | number: '1.0-0' }}</div>
                      </figcaption>
                    </figure>
                    <div class="caption">
                      <div class="txt1">{{room.roomType}}</div>
                      <div class="txt3">
                        {{room.roomDescription | truncate : 70 : " ...."}}
                      </div>
                      <div class="txt4">
                        <a href="details.html">See Room Details<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                      </div>
                    </div>
                    <div class="select-txt">
                      <a><span (click)="getSelectedRoomClicked(room.roomTypeId)">SELECT THIS ROOM<i class="fa fa-angle-right"
                            aria-hidden="true"></i></span></a>
                    </div>
                    <div class="room-icons">
                      <div class="room-ic room-ic-wifi">
                        <i class="fa fa-wifi" aria-hidden="true"></i>
                        <div class="txt1">FREE WIFI</div>
                      </div>
                      <div class="room-ic room-ic-person">
                        <i class="fa fa-user" aria-hidden="true"></i> <i class="fa fa-user" aria-hidden="true"></i>
                        <div class="txt1">MAX<br />PERSON</div>
                      </div>
                      <div class="room-ic room-ic-breakfast">
                        <i class="fa fa-coffee" aria-hidden="true"></i>
                        <div class="txt1">BREAKFAST<br />INCLUDED</div>
                      </div>
                      <div class="room-ic room-ic-left">
                        <div class="txt0">{{room.noOfRoomsLeft}}</div>
                        <div class="txt1">ROOMS LEFT</div>
                      </div>

                      <div class="room-price">
                        <div class="txt3" style="font-weight: bolder;">&#x20a6;<span>{{room.roomAmount | number:
                            '1.0-0' }}</span></div>
                        <div class="txt2">PER NIGHT</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>



        </div>
        <div id="tabs2-2">

          <div class="room-wide-wrapper">
            <div *ngFor="let room of room" class="room-wide-inner">
              <div class="room-wide clearfix">
                <figure>
                  <img src="assets/uploads/{{room.picture1}}" alt="" class="img-fluid">
                </figure>
                <div class="caption">
                  <div class="room-wide-columns clearfix">
                    <div class="room-wide-left">
                      <div class="txt1">
                        159 REVEW
                        <div class="small-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                      <div class="txt2">{{room.roomType}}</div>
                    </div>
                    <div class="room-wide-right">
                      <div class="room-wide-price">
                        <div class="txt3">&#8358; {{room.roomAmount | number: '1.0-0' }}</div>
                        <div class="txt4">PER NIGHT</div>
                      </div>
                    </div>
                  </div>
                  <div class="txt5">
                    {{room.roomDescription }}
                  </div>
                  <div class="room-wide-columns clearfix">
                    <div class="room-wide-left">
                      <div class="txt6"><a href="details.html">See Room Details<i class="fa fa-caret-right" aria-hidden="true"></i></a></div>
                    </div>
                    <div class="room-wide-right">
                      <div class="txt7">DEPOSIT:<span>REQUIRED 30%</span></div>
                    </div>
                  </div>
                  <div class="room-wide-columns clearfix">
                    <div class="room-wide-left">
                      <div class="txt8">
                        <img title="Free WiFi Included" src="assets/images/ic11.png" alt="" class="img-fluid">
                        <img title="Breakfast Included" src="assets/images/ic12.png" alt="" class="img-fluid">
                        <img title="Trasfer to Airport Included" src="assets/images/ic13.png" alt="" class="img-fluid">
                        <img title="Car Parking Included" src="assets/images/ic14.png" alt="" class="img-fluid">
                        <img title="Safe Included" src="assets/images/ic15.png" alt="" class="img-fluid">
                      </div>
                    </div>
                    <div class="room-wide-right">
                      <div class="txt9">
                        <a><span (click)="getSelectedRoomClicked(room.roomTypeId)">RESERVE ROOM</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           
        </div>
      </div>

      <div class="pane2 clearfix">

        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
          <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
          <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
        </ul>

      </div>


    </div>
  </div>

  <app-footer></app-footer>

</div>